body{
    margin: 0;
    padding: 0;
}
h2{
   background-color: black;
   text-align: center;
   font-size: 1cm;
   color: white;
  
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 80px;

}
img{
    height: 150px;
    width: 150px;
    margin: 10px;
    object-fit: cover;
    border-radius: 90px;
    box-shadow: 4px 4px 15px;

}
img:hover{
    opacity: 50%;
    border: 5px rgb(0, 0, 0) solid;
}
   
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    font-size: larger;

}
#userscore,#compscore{
    font-size: 1cm;
}
.btm{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mesg{
    text-align: center;
    font-size: 0.6cm;   
    background-color: black;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 30px;

}

