.hblogo {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background-color: rgb(254, 255, 254);
}

.serlogo {
    height: 45px;
    width: 20rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.serdiv {
    display: flex;
    align-items: center;
    color: white;



}

.serlogo {
    background-color: white;
    background-color: #fff9f9;
    color: rgb(14, 14, 14);
}

.slogo {
    background-color: rgb(25, 249, 4);
    color: rgb(240, 235, 235);
    height: 44px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.leftmiddle{
    height: 300px;
    border: 2px solid blue;
    overflow: auto;

}
.footleft ul li{
    margin: 8px;

}
.leftfootbt{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 17px;


}
.fbt{
    display: flex;  
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
    padding: 10px;
    border-radius: 33px;
    width: 150px;
    
    
}
.fbt div img{
    height: 25px;
    width: 25px;
}
.fbt span{
    font-size: large;
    font: bold;
}